* {
    box-sizing: border-box;
  }
  
  :root {
    --light-blue: rgb(163, 211, 223);
    --dark-blue: rgb(61, 96, 146);
    --grey: rgb(50, 49, 54);
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
  }
  
  /*navigation bar */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--grey);
  }
  
  .menu-options {
    display: flex;
    margin-left: 0;

  } 

  header .title {
    color: var(--light-blue);
    padding: 0 10px 0 50px;
    text-align: right;
    font-size: 50px;
    font-weight: 700;
  }
  
  .header {
    background-color: var(--grey) !important;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
    align-items: end;
    font-size: 25px;
  }
  
  .nav-item a {
    color: var(--light-blue); 
    text-decoration: none;
  }
  
  .header a:hover {
    color: rgb(255, 255, 255);
  }
  
  .nav-item {
    border-bottom: 2px solid var(--light-blue);
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
    text-align: center;
  }
  
  .navbar-toggler {
    background-color: var(--light-blue); 
    margin-left: 0;
  }

  /*banner */
  
  .profile-pic {
    max-height: 350px;
  }

  .profile-text {
    font-size: 20px;
  }
  
  .jumbotron {
    background-color: var(--light-blue) !important;
  };

